.app {
  width: max(100vw,400px);
  height: max(100vh,400px);
  background-color: #2C28FF;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

footer {
  width: calc(100% - 1rem);
  color: white;
  border-top: white .125rem solid;
  display: flex;
  flex-direction: row;

  padding: .5rem;
}
main{
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
}

#serverstatus{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: inline;
  margin-top: .125rem;
  margin-right: .125rem;
}

#serverstatus.online{
  background-color: #4CFF00;
}

#serverstatus.offline{
  background-color: #ff0000;
}

#logininfo,#roominfo{
  display: inline;
  margin-inline: .25rem;
  font-size: .875rem;
}
.bigbold{
  font-size: 1.125rem;
  font-weight: 900;
}

.flexfiller{
  flex-grow: 1;
}

#disconnectbutton{
  background-color: white;
  color: #2C28FF;
  border-radius: .5rem;
  padding: .125rem 1.5rem;
  font-weight: 900;
  cursor: pointer;
}